@model IEnumerable<Product>

@{
    ViewData["Title"] = "آی شاپ";
}

<div class="text-center">
    <div class="container">
        <div class="col-md-12">
            @await Component.InvokeAsync("ProductGroupsComponent")
        </div>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <partial name="_BoxProduct" model="@item" />
            }
        </div>
    </div>
</div>
