@page
@model iShop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>لیست کالاها</h1>
<hr />
<p>
    <a asp-page="Add" class="btn btn-primary">افزودن کالا</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">تصویر</th>
            <th class="text-center">نام</th>
            <th class="text-center">قیمت</th>
            <th class="text-center">دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td class="align-middle">
                    <img src="/images/@(item.Id).jpg" style="max-width: 200px;padding: 3px" />
                </td>
                <td class="align-middle">
                    @item.Name
                </td  class="align-middle">
                <td class="align-middle">@item.Price</td>
                <td class="align-middle">
                    <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">ویرایش</a>
                    <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

